.container {
    padding: 20px;
}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.produk {
    display: flex;
}

img {
    padding-right: 50px;
}

footer {
    width: 100%;
    box-shadow: 10px -10px 20px rgb(244, 244, 244);
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    position: fixed;
}

.footer {
    display: flex;
}

.footer h3 {
    padding-inline: 20px;
}
